---
layout: default
---
<div class="container">
   <div class="row">
       <div class="col-sm-12 col-md-12">
          <div class="panel-group" id="menugeneral">
	     <div class="panel panel-default">
                <div class="panel-heading">
                   <h4 class="panel-title">
               	   <a data-toggle="collapse" data-parent="#menugeneral" href="#2020-1"><span class="glyphicon glyphicon-folder-close">
                   </span> Period 2025-2</a>
                   </h4>
                <div id="2020-1" class="panel-collapse collapse in"> 
                   <div class="panel-body">
          	   <p>Data Science</p>
                   <div class="alert alert-info"><h3>Coming soon</h3></div>
			   
                </div>
              
           	<div class="row">
                   <div class="col-md-4 col-sm-4">
                   <div><label>COURSE NOTES</label></div>
              	   <ul>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/drive/folders/1lO_NXy-DGYzQM2LsIN9ij07ApezWzb5V?usp=drive_link'> Course Notes</a></li>
            	   </ul>
             	   </div>
              
                  <div class="col-md-4 col-sm-4">
                  <div><label>SCHEDULE</label></div>
                  <ul>
           	  <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/12SwIYK-1swNeurz-kX7QdMUrRZLDAHHW/view?usp=drive_link'> Schedule</a></li>
                  </ul>
            	  </div>
              
              	  <div class="col-md-4 col-sm-4">
                  <div><label>COURSE PROGRAM</label></div>
                  <ul>
              	  <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1-Et3Rt4r7-b-LC75ZuTtpLKsDNy9Ux8L/view?usp=drive_link'> Course Program</a></li>
                  </ul>
                  </div>
                </div>
              
                <div class="row">              
              	   <div class="col-md-6 col-sm-4">
                   <div><label>SOFTWARE</label></div>
                   <ul>
           	   <li class="list-group-item"><span class="glyphicon glyphicon-download text-success"></span><a href='https://drive.google.com/drive/folders/1RSZwRsIMazLK2op1ZOxfNf7lgHokcKul?usp=drive_link'> Python</a></li>
               <li class="list-group-item"><span class="glyphicon glyphicon-download text-success"></span><a href='https://drive.google.com/drive/folders/1jIta_uFFZv9DwSMJt54dbQUz9Kcvw0lg?usp=drive_link'> R</a></li>	      
	           </ul>
                   </div>
                      
                   <div class="col-md-6 col-sm-4">
                   <div><label>REFERENCES</label></div>
                   <ul>
           	   <li class="list-group-item"><span class="glyphicon glyphicon-user text-success"></span><a href='https://drive.google.com/drive/folders/1N72SPahjdqQ5W4poMKIhu5A7ficI_eq7?usp=drive_link'> Books</a></li>
               <li class="list-group-item"><span class="glyphicon glyphicon-user text-success"></span><a href='https://drive.google.com/drive/folders/1ubnYMiGxVqEubDROCtsZbbeTHlqaOfos?usp=drive_link'> Articles</a></li>
                   </ul>
	           </div>
			
		   <div class="col-md-6 col-sm-4">
                   <div><label>VIDEOS</label></div>
                   <ul>
               <li class="list-group-item"><span class="glyphicon glyphicon-user text-success"></span><a href='https://www.facebook.com/groups/4094364870641865/'>Facebook</a></li>
           	   <li class="list-group-item"><span class="glyphicon glyphicon-user text-success"></span><a href='https://youtube.com/playlist?list=PLgYXEBfJLlkXzgZ54MAvMUuGTEiBxr81x&si=ratSzOAjHg1PbIGn'>Youtube list</a></li>
                   </ul>
	           </div>
		</div>
              
                <div class="row">
                   <div class="col-md-6 col-sm-4">
                   <div><label>PRESENTATIONS</label></div>
                   <ul class="list-group">
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/drive/folders/1XxRS0t1KzXfovjGK-XftKLwXeJ4sr198?usp=drive_link'> Presentations</a></li>	   
                   </ul>
            	   </div>
			   
              	   <div class="col-md-6 col-sm-4">
              	   <div><label>ASSIGNMENTS AND EXERCISES</label></div>
                   <ul class="list-group">
          	       <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href='https://drive.google.com/drive/folders/1sU9fmglEzceG48bWVPLHJmunKND8skfW?usp=drive_link'> Assignments</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href='https://drive.google.com/drive/folders/1g8t9Kn6n8wUiQF2U4OPP-pvsE0bolqA5?usp=drive_link'> Exercises</a></li>
                   </ul>
              	   </div>
              	</div>
            </div>  
         </div> 
      </div>
   </div>
</div>
