---
layout: default
---
<div class="container">
   <div class="row">
       <div class="col-sm-12 col-md-12">
          <div class="panel-group" id="menugeneral">
	     <div class="panel panel-default">
                <div class="panel-heading">
                   <h4 class="panel-title">
               	   <a data-toggle="collapse" data-parent="#menugeneral" href="#2020-1"><span class="glyphicon glyphicon-folder-close">
                   </span> Modeling Flow and Transport in Porous Media Period 2025-2</a>
                   </h4>
                <div id="2020-1" class="panel-collapse collapse in"> 
                   <div class="panel-body">
          	   <p>This course introduces the fundamentals of mathematical modeling and numerical simulation of flow and transport processes in porous media, with a focus on computational implementation for geoscientific and environmental applications.</p>
                   <div class="alert alert-info"><h3>Coming soon</h3></div>
			   
                </div>
              
           	<div class="row">
                   <div class="col-md-4 col-sm-4">
                   <div><label>COURSE NOTES</label></div>
              	   <ul>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1Wrjww8tGEiTslZQgC60HY8qtGQ6IydtM/view?usp=drive_link'> Course Notes</a></li>
            	   </ul>
             	   </div>
              
                  <div class="col-md-4 col-sm-4">
                  <div><label>SCHEDULE</label></div>
                  <ul>
           	  <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1bCXama5X3ePvYPGSES0IoCW5AHmdniqN/view?usp=drive_link'> Schedule</a></li>
                  </ul>
            	  </div>
              
              	  <div class="col-md-4 col-sm-4">
                  <div><label>COURSE PROGRAM</label></div>
                  <ul>
              	  <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1oUgMLpKyFcv2G25dp01GYlN9l7EJDdse/view?usp=drive_link'> Course Program</a></li>
                  </ul>
                  </div>
                </div>
              
                <div class="row">              
              	   <div class="col-md-6 col-sm-4">
                   <div><label>SOFTWARE</label></div>
                   <ul>
           	   <li class="list-group-item"><span class="glyphicon glyphicon-download text-success"></span><a href='https://drive.google.com/drive/folders/1JlDG2j-FA2ME8HE7QrBu5FwRlS39hPUd?usp=drive_link'> Notebooks</a></li>	      
	           </ul>
                   </div>
                      
                   <div class="col-md-6 col-sm-4">
                   <div><label>REFERENCES</label></div>
                   <ul>
           	   <li class="list-group-item"><span class="glyphicon glyphicon-user text-success"></span><a href='https://drive.google.com/drive/folders/1Uh__WPwefREt3OOONr7UVntQ4Laz-UhA?usp=drive_link'> References</a></li>
                   </ul>
	           </div>
			
		   <div class="col-md-6 col-sm-4">
                   <div><label>VIDEOS</label></div>
                   <ul>
               <li class="list-group-item"><span class="glyphicon glyphicon-user text-success"></span><a href='https://www.facebook.com/groups/4094364870641865/'>Facebook</a></li>
           	   <li class="list-group-item"><span class="glyphicon glyphicon-user text-success"></span><a href='https://youtube.com/playlist?list=PLgYXEBfJLlkXe4mApVzH_mGF7W3BMQTzt&si=oQiXfgexoPztVAh1'>Youtube list</a></li>
                   </ul>
	           </div>
		</div>
              
                <div class="row">
                   <div class="col-md-6 col-sm-4">
                   <div><label>PRESENTATIONS</label></div>
                   <ul class="list-group">
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/drive/folders/1GHvKeezt1jSx6I7oNedaS_qRDDMFaiwN?usp=drive_link'> Presentations</a></li>	   
                   </ul>
            	   </div>
			   
              	   <div class="col-md-6 col-sm-4">
              	   <div><label>ASSIGNMENTS AND EXERCISES</label></div>
                   <ul class="list-group">
          	       <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href='https://drive.google.com/drive/folders/1GO5aKFCUe3SA0e7Dz3_KBKHscD2Ivy7O?usp=drive_link'> Assignments</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href='https://drive.google.com/drive/folders/1n1Ibnl2tQZA8C3O4W0NkIkpJn0UdW7hn?usp=drive_link'> Exercises</a></li>
                   </ul>
              	   </div>
              	</div>
            </div>  
         </div> 
      </div>
   </div>
</div>
