---
layout: default
---
<div class="container">
   <div class="row">
       <div class="col-sm-12 col-md-12">
          <div class="panel-group" id="menugeneral">
	     <div class="panel panel-default">
                <div class="panel-heading">
                   <h4 class="panel-title">
               	   <a data-toggle="collapse" data-parent="#menugeneral" href="#2020-1"><span class="glyphicon glyphicon-folder-close">
                   </span> Semestre 2025-2</a>
                   </h4>
                <div id="2020-1" class="panel-collapse collapse in"> 
                   <div class="panel-body">
          	   <p>Mathematical modeling, numerical and computational implementation of flow and transport in porous media.</p>
                   <div class="alert alert-info"><h3>Starting date: Coming soon</h3></div>
			   
                </div>
              
           	<div class="row">
                   <div class="col-md-4 col-sm-4">
                   <div><label>NOTAS DEL CURSO</label></div>
              	   <ul>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1od8Rm8bvmaFNXosWFQj8DIZu1qEonk-f/view?usp=drive_link'> Notas del curso</a></li>
            	   </ul>
             	   </div>
              
                  <div class="col-md-4 col-sm-4">
                  <div><label>CALENDARIO</label></div>
                  <ul>
           	  <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1IPPjI459HYhZtxWYRPUZfb7B2Frj4wUn/view?usp=drive_link'> Calendario de actividades</a></li>
                  </ul>
            	  </div>
              
              	  <div class="col-md-4 col-sm-4">
                  <div><label>PROGRAMA</label></div>
                  <ul>
              	  <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1OjXarNl0qPRdhmSI_JvSEK6VeY4lojWD/view?usp=drive_link'> Programa del curso 2025-1</a></li>
                  </ul>
                  </div>
                </div>
              
                <div class="row">              
              	   <div class="col-md-6 col-sm-4">
                   <div><label>MATERIAL CLASES PRÁCTICAS</label></div>
                   <ul>
           	   <li class="list-group-item"><span class="glyphicon glyphicon-download text-success"></span><a href='https://drive.google.com/file/d/1N4rVQ0rrvBnD-VsSE0cVV_AJhRG_YHbL/view?usp=drive_link'> Instrucciones para instalar R y R studio</a></li>
	           <li class="list-group-item"><span class="glyphicon glyphicon-download text-success"></span><a href='https://drive.google.com/file/d/1wRj3uRix5LUOib6kPMgaQZgOxP9CU9MI/view?usp=drive_link'> Clase Práctica 1: Análisis Exploratorio de Datos</a></li>
		   <li class="list-group-item"><span class="glyphicon glyphicon-download text-success"></span><a href='https://drive.google.com/file/d/1aFhMW-LP9qlmzfnkYTqdFIF6jlyO85__/view?usp=drive_link'> Clase Práctica 2: Análisis Variográfico</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-download text-success"></span><a href='https://drive.google.com/file/d/1-4F_Jkq9Q-IDojgeNN6RO4Ch3ScJT6oN/view?usp=drive_link'> Clase Práctica 3: Estimación Espacial</a></li>
		   <li class="list-group-item"><span class="glyphicon glyphicon-download text-success"></span><a href='https://drive.google.com/file/d/1JP89VVaeipEWObJDc6DXu8mbB_iX-P6Z/view?usp=drive_link'> Apuntes de la clase práctica Lluvia</a></li>
	           <li class="list-group-item"><span class="glyphicon glyphicon-download text-success"></span><a href='https://drive.google.com/file/d/1hVozcnUb9x_k2vpV5heyt52iT_QpcbC_/view?usp=drive_link'> Apuntes de la clase práctica porosidad</a></li>   
		   <li class="list-group-item"><span class="glyphicon glyphicon-download text-success"></span><a href='https://drive.google.com/file/d/1E_KyfwcWzTmrgQbSwFd1W59GEYE5shVq/view?usp=drive_link'> Apuntes de la clase práctica Lluvia en Jupyter Notebook</a></li>	   
	           <li class="list-group-item"><span class="glyphicon glyphicon-download text-success"></span><a href='https://drive.google.com/file/d/1hsvhkGs8hACq9QMf7Dfpx-57fpikaM86/view?usp=drive_link'> Apuntes de la clase práctica Porosidad en Jupyter Notebook</a></li>	      
	           </ul>
                   </div>
                      
                   <div class="col-md-6 col-sm-4">
                   <div><label>DATOS DEL CURSO</label></div>
                   <ul>
           	   <li class="list-group-item"><span class="glyphicon glyphicon-user text-success"></span><a href='https://drive.google.com/file/d/1h6EFSpQV2uyunuXB4cCTC1OVtFXar1cE/view?usp=drive_link'> Alumnos</a></li>
                   </ul>
	           </div>
			
		   <div class="col-md-6 col-sm-4">
                   <div><label>VIDEOS DEL CURSO</label></div>
                   <ul>
               <li class="list-group-item"><span class="glyphicon glyphicon-user text-success"></span><a href='https://www.facebook.com/groups/4094364870641865/'>Clases del semestre 2022-1</a></li>
           	   <li class="list-group-item"><span class="glyphicon glyphicon-user text-success"></span><a href='https://youtube.com/playlist?list=PLgYXEBfJLlkUcAfBv6p0MpnhLSryJea3X'>Clases del semestre 2021-1</a></li>
                   </ul>
	           </div>
		</div>
              
                <div class="row">
                   <div class="col-md-6 col-sm-4">
                   <div><label>PRESENTACIONES</label></div>
                   <ul class="list-group">
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/19W9JFmIbiZ88eMM6SW-N2z1O3e_WyURr/view?usp=drive_link'> Tema: Introducción - CG1.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/17dNuO9LULYpnhCrrvKkspNV3H-zarRXj/view?usp=drive_link'> Tema: Análisis Exploratorio de Datos - CG2.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1OhLE_j3Q7CtRHnCWyaiDmxWBrL-xJIZI/view?usp=drive_link'> Tema: Funciones Aleatorias - CG3.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1jNvN4MfluPw6NmXCrhtOOPbPb6dIpRGs/view?usp=drive_link'> Tema: Análisis Variográfico - CG4.pdf</a></li> 	   
	           <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1NHA8XIcuWy-O98y5SYgu_n3i7V04kout/view?usp=drive_link'> Tema: Receta Práctica del Análisis Variográfico - CG5.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1QrkaZbutSrhiv0zYstegP6200aHlrGY_/view?usp=drive_link'> Tema: Estimación Espacial - CG6.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1au78GUxsPlU-ZU1wT4YMW7q4_hZ_ehjB/view?usp=drive_link'> Tema: Geoestadística Multivariada - CG7.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1e6bbPjTMmCGII3MUaB47UwGLbs7_LDhC/view?usp=drive_link'> Tema: Métodos de Simulación - CG8.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1XPn53gZlmigsORo5Pt0cQM3d4Kjy3cgz/view?usp=drive_link'> Tema: Estimación de la precipitación - Ejemplo Precipitacion.pdf</a></li>
		   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1W_g5U5WjQAWPkFEIxdeKsQQpb2iuWkNP/view?usp=drive_link'> Tema: Caso de Estudio de un Depósito de Cu y Au - Ejemplo minería.pdf</a></li>	   
                   </ul>
            	   </div>
			   
              	   <div class="col-md-6 col-sm-4">
              	   <div><label>TAREAS</label></div>
                   <ul class="list-group">
          	   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href='https://drive.google.com/file/d/1Un9AQLk9FJpB2aHVN2Kz0sxLRTunIgck/view?usp=drive_link'> Tarea 1</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href='https://drive.google.com/file/d/163MhNHMwCnUmYfpcIbagRngJar1C-ZxV/view?usp=drive_link'> Tarea 1: Ejemplo 1</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href='https://drive.google.com/file/d/1jkCxJG_F8sCJ9MqqrkoiBDUAAw-feD-E/view?usp=drive_link'> Tarea 1: Ejemplo 2 </a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href='https://drive.google.com/file/d/13xLXbKup_QQzw99hWKp0Z5PwkHbfIuKf/view?usp=drive_link'> Tarea 2</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href='https://drive.google.com/file/d/1mnh9I2ToNNSiVlWgOCQBRaNxsTtEOrzL/view?usp=drive_link'> Tarea 2: Ejemplo 1 </a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href='https://drive.google.com/file/d/1ylGyXAn0BLg4zEpmrUmhQlCkJAZxbOcs/view?usp=drive_link'> Tarea 2: Ejemplo 2 </a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href='https://drive.google.com/file/d/1qbLHqsbw3jrk2KcAkDwQl4c_wL03SVir/view?usp=drive_link'> Calculo Variograma </a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href='https://drive.google.com/file/d/1-7m9qvUVX4Y2vop8iRBHaG-KN3OBhywS/view?usp=drive_link'> Tarea 3 </a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href='https://drive.google.com/file/d/1S4DZseQhgtQEkmUUN__GU4OIj0XTiKqy/view?usp=drive_link'> Tarea 3: Ejemplo 1</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href='https://drive.google.com/file/d/1yJFwGv7pCSRKpMdtVcazbQrRlUhHN08O/view?usp=drive_link'> Tarea 3: Ejemplo 1a </a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href='https://drive.google.com/file/d/1XTQ7xip0p11SuWc1UkF6Evnar6Vd-kKC/view?usp=drive_link'> Tarea 3: Ejemplo 2 </a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href='https://drive.google.com/file/d/1KYRG2m5YY86THS-U23PMA6d4eLiWCKaZ/view?usp=drive_link'> Calculo Kriging </a></li>
                   </ul>
              	   </div>
              	</div>
			
		<div class="row">
                   <div class="col-md-6 col-sm-4">
                   <div><label>PRESENTACIONES ANTERIORES</label></div>
                   <ul class="list-group">
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG1_2020.pdf"> Tema: Introducción - CG1.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG2_2020.pdf"> Tema: Análisis Exploratorio de Datos - CG2.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG3_2020.pdf"> Tema: Funciones Aleatorias - CG3.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG4_2020.pdf"> Tema: Análisis Estructural - CG4.pdf</a></li> 
		   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG5.pdf"> Tema: Receta Práctica del Análisis Estructural - CG5.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG6_2020.pdf"> Tema: Estimación Espacial - CG6.pdf</a></li>
		   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG7_2020.pdf"> Tema: Geoestadística Multivariada - CG7.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG8_2020.pdf"> Tema: Métodos de Simulación - CG8.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG8a_2020.pdf"> Tema: Geoestadística Fractal - CG8a.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG9_2020.pdf"> Tema: Otros Métodos de Estimación Espacial - CG9.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG10.pdf"> Tema: Caracterización de Yacimientos - CG9 0ld.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/Ejemplo Petroleo.pdf"> Tema: Caso de estudio: Petróleo - Ejemplo Petróleo.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/Ejemplo Precipitacion.pdf"> Tema: Estimación de la precipitación - Ejemplo Precipitacion.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/Ejemplo Simulacion.pdf"> Tema: Simulación - Ejemplo Simulación.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/MGPY.pdf"> Tema: Modelación Geológica Petrofísica de Yacimientos - MGPY.pdf</a></li>
                   </ul>
            	   </div>
		</div>	

            </div>  
         </div> 
      </div>
   </div>
</div>
