---
layout: default
---
<div class="container">
   <div class="row">
       <div class="col-sm-12 col-md-12">
          <div class="panel-group" id="menugeneral">
	     <div class="panel panel-default">
                <div class="panel-heading">
                   <h4 class="panel-title">
               	   <a data-toggle="collapse" data-parent="#menugeneral" href="#2020-1"><span class="glyphicon glyphicon-folder-close">
                   </span> LaTeX Period 2025-2</a>
                   </h4>
                <div id="2020-1" class="panel-collapse collapse in"> 
                   <div class="panel-body">
          	   <p>This course provides a practical introduction to LaTeX, the standard typesetting system for scientific and technical documents. Students will learn to create well-structured reports, articles, and presentations, with a focus on formatting equations, figures, and references for academic and research work.</p>
                   <div class="alert alert-info"><h3>Coming soon</h3></div>
			   
                </div>
              
           	<div class="row">
                   <div class="col-md-4 col-sm-4">
                   <div><label>COURSE NOTES</label></div>
              	   <ul>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1Fw-1gO01OWHsKkRyinbe3TN6jD3iwMJB/view?usp=drive_link'> Course Notes</a></li>
            	   </ul>
             	   </div>
              
                  <div class="col-md-4 col-sm-4">
                  <div><label>SCHEDULE</label></div>
                  <ul>
           	  <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1b2QH0BKTtWOU16Ooiya2rIbuaWPtssas/view?usp=drive_link'> Schedule</a></li>
                  </ul>
            	  </div>
              
              	  <div class="col-md-4 col-sm-4">
                  <div><label>COURSE PROGRAM</label></div>
                  <ul>
              	  <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1bPE1XHG93YDy9Yo8RZlHJkD2ccs_066X/view?usp=drive_link'> Course Program</a></li>
                  </ul>
                  </div>
                </div>
              
                <div class="row">              
              	   <div class="col-md-6 col-sm-4">
                   <div><label>TEMPLATES</label></div>
                   <ul>
           	   <li class="list-group-item"><span class="glyphicon glyphicon-download text-success"></span><a href='https://drive.google.com/drive/folders/1FniIOwnDj35WVD0gVqd68ZogRoBUBqbT?usp=drive_link'> Templates</a></li>	      
	           </ul>
                   </div>
                      
                   <div class="col-md-6 col-sm-4">
                   <div><label>REFERENCES</label></div>
                   <ul>
           	   <li class="list-group-item"><span class="glyphicon glyphicon-user text-success"></span><a href='https://drive.google.com/drive/folders/1ocpIDwXZB_ZPUfBjnT5HLSvYarciOMZX?usp=drive_link'> References</a></li>
                   </ul>
	           </div>
			
		   <div class="col-md-6 col-sm-4">
                   <div><label>VIDEOS</label></div>
                   <ul>
               <li class="list-group-item"><span class="glyphicon glyphicon-user text-success"></span><a href='https://www.facebook.com/groups/4094364870641865/'>Facebook</a></li>
           	   <li class="list-group-item"><span class="glyphicon glyphicon-user text-success"></span><a href='https://drive.google.com/drive/folders/1i0qclOR8NDslMedvxNwZ-0vfy9osLi6q?usp=drive_link'>Drive</a></li>
                   </ul>
	           </div>
		</div>
              
                <div class="row">
                   <div class="col-md-6 col-sm-4">
                   <div><label>PRESENTATIONS</label></div>
                   <ul class="list-group">
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href='https://drive.google.com/file/d/1Fw-1gO01OWHsKkRyinbe3TN6jD3iwMJB/view?usp=drive_link'> Presentations</a></li>	   
                   </ul>
            	   </div>
			   
              	   <div class="col-md-6 col-sm-4">
              	   <div><label>ASSIGNMENTS AND EXERCISES</label></div>
                   <ul class="list-group">
          	       <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href='https://drive.google.com/drive/folders/1Jw3nRsyT6msJXs50DURQRshuRzW06ClE?usp=drive_link'> Assignments</a></li>
                   </ul>
              	   </div>
              	</div>
            </div>  
         </div> 
      </div>
   </div>
</div>
