---
layout: default
---
<div class="container">
   <div class="row">
       <div class="col-sm-12 col-md-12">
          <div class="panel-group" id="menugeneral">
	     <div class="panel panel-default">
                <div class="panel-heading">
                   <h4 class="panel-title">
               	   <a data-toggle="collapse" data-parent="#menugeneral" href="#2020-1"><span class="glyphicon glyphicon-folder-close">
                   </span> Semestre 2022-1</a>
                   </h4>
                <div id="2020-1" class="panel-collapse collapse in"> 
                   <div class="panel-body">
          	   <p>La geoestadística es una rama de la estadística aplicada que se especializa en el análisis y la modelación de la variabilidad espacial en ciencias de la tierra.
                   Su objeto de estudio es el análisis y la predicción de fenómenos en espacio y/o tiempo, tales como: ley de metales, porosidades, concentraciones de un contaminante, etc.</p>
                   <div class="alert alert-info"><h3>Fecha de inicio: PENDIENTE  <br> Por favor, regístren sus datos usando la forma en el siguiente link</a>, viernes 16:00-19:00</h3></div>
                </div>
              
           	<div class="row">
                   <div class="col-md-4 col-sm-4">
                   <div><label>NOTAS DEL CURSO</label></div>
              	   <ul>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/GeoEstadistica.pdf"> Notas del curso</a></li>
            	   </ul>
             	   </div>
              
                  <div class="col-md-4 col-sm-4">
                  <div><label>CALENDARIO</label></div>
                  <ul>
           	  <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/informacion/Calendario de GEOCURSO.pdf"> Calendario de actividades</a></li>
                  </ul>
            	  </div>
              
              	  <div class="col-md-4 col-sm-4">
                  <div><label>PROGRAMA</label></div>
                  <ul>
              	  <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/informacion/PROGRAMA DEL CURSO.pdf"> Programa del curso 2021-1</a></li>
                  </ul>
                  </div>
                </div>
              
                <div class="row">              
              	   <div class="col-md-6 col-sm-4">
                   <div><label>MATERIAL CLASES PRÁCTICAS</label></div>
                   <ul>
           	   <li class="list-group-item"><span class="glyphicon glyphicon-download text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/practicas/R_and_Rstudio_Instalation.pdf"> Instrucciones para instalar R y R studio</a></li>
	           <li class="list-group-item"><span class="glyphicon glyphicon-download text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/practicas/CP1_AED.zip"> Clase Práctica 1: Análisis Exploratorio de Datos</a></li>
              	   <li class="list-group-item"><span class="glyphicon glyphicon-download text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/practicas/CP2_AE.zip"> Clase Práctica 2: Análisis Estructural</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-download text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/practicas/CP3_Estimación_Espacial.zip"> Clase Práctica 3: Estimación Espacial</a></li>
		   </ul>
                   </div>
                      
                   <div class="col-md-6 col-sm-4">
                   <div><label>DATOS DEL CURSO</label></div>
                   <ul>
           	   <li class="list-group-item"><span class="glyphicon glyphicon-user text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/informacion/Lista del curso.xls"> Alumnos 2021-1</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-user text-success"></span><a href='https://www.youtube.com/channel/UCVDcV5ErK91tmsQWDjoV5Zg/videos'>Clases del semestre 2021-1</a></li>
                   </ul>
	           </div>
		</div>
              
                <div class="row">
                   <div class="col-md-6 col-sm-4">
                   <div><label>PRESENTACIONES</label></div>
                   <ul class="list-group">
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG1_2020.pdf"> Tema: Introducción - CG1.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG2_2020.pdf"> Tema: Análisis Exploratorio de Datos - CG2.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG3_2020.pdf"> Tema: Funciones Aleatorias - CG3.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG4_2020.pdf"> Tema: Análisis Estructural - CG4.pdf</a></li>                   
	           <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG5.pdf"> Tema: Receta Práctica del Análisis Estructural - CG5.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG6_2020.pdf"> Tema: Estimación Espacial - CG6.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG7_2020.pdf"> Tema: Geoestadística Multivariada - CG7.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG8_2020.pdf"> Tema: Métodos de Simulación - CG8.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG8a_2020.pdf"> Tema: Geoestadística Fractal - CG8a.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG9_2020.pdf"> Tema: Otros Métodos de Estimación Espacial - CG9.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/CG10.pdf"> Tema: Caracterización de Yacimientos - CG9 0ld.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/Ejemplo Petroleo.pdf"> Tema: Caso de estudio: Petróleo - Ejemplo Petróleo.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/Ejemplo Precipitacion.pdf"> Tema: Estimación de la precipitación - Ejemplo Precipitacion.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/Ejemplo Simulacion"> Tema: Simulación - Ejemplo Simulación.pdf</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-file text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/presentaciones/MGPY.pdf"> Tema: Modelación Geológica Petrofísica de Yacimientos - MGPY.pdf</a></li>
                   </ul>
            	   </div>
			   
              	   <div class="col-md-6 col-sm-4">
              	   <div><label>TAREAS</label></div>
                   <ul class="list-group">
          	   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/tareas/Tarea1.pdf"> Tarea 1</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/tareas/Tarea1_Ejemplo1.pdf"> Tarea 1: Ejemplo 1</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/tareas/Tarea1_Ejemplo2.pdf"> Tarea 1: Ejemplo 2 </a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/tareas/Tarea2.pdf"> Tarea 2</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/tareas/Tarea2_Ejemplo1.pdf"> Tarea 2: Ejemplo 1 </a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/tareas/Tarea2_Ejemplo2.pdf"> Tarea 2: Ejemplo 2 </a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/tareas/Ejercicio1_Variograma.pdf"> Calculo Variograma </a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/tareas/Tarea3.pdf"> Tarea 3 </a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/tareas/Tarea3_Ejemplo1.pdf"> Tarea 3: Ejemplo 1</a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/tareas/Tarea3_Ejemplo1a.pdf"> Tarea 3: Ejemplo 1a </a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href="{{ site.url }}{{ site.baseurl }}media/courses/geoestadistica/tareas/Tarea3_Ejemplo2.pdf"> Tarea 3: Ejemplo 2 </a></li>
                   <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-success"></span><a href="{{ site.url }}{{ site.baseurl }}/media/courses/geoestadistica/tareas/Ejercicio2b_Kriging.pdf"> Calculo Kriging </a></li>
                   </ul>
              	   </div>
              	</div>

            </div>  
         </div> 
      </div>
   </div>
</div>
