---
layout: default
---
<div id="openingsid">
  {{ content }}
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#tema1"><span class="glyphicon glyphicon-pushpin">
          </span> Numerical Methods</a>
          </h4>
        </div>
        <div id="tema1" class="panel-collapse collapse in">
          <div class="list-group">
          <ul>                  
          <li>Finite Difference</li>
          <li>Finite Element</li>
          <li>Finite Volume</li>
          <li>Domain Decomposition</li>
          </ul>
          </div>
        </div>
      </div>  
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#tema2"><span class="glyphicon glyphicon-pushpin">
        </span> Deterministic Methods</a>
        </h4>
        </div>
        <div id="tema2" class="panel-collapse collapse in">
          <div class="list-group">
          <ul>
          <li>Combustion Front Tracking</li>
          <li>Microbial Transport Modeling in Porous Media</li>
          <li>Multiscale Numerical Methods</li>
          <li>Percolation Modeling for Permeability Estimation</li>
          <li>Seismic Attribute Design Based on Mathematical Morphology</li>
          <li>Pore Network Models</li>
          </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#tema3"><span class="glyphicon glyphicon-pushpin">
        </span> Statistical-Stochastic Methods</a>
        </h4>
        </div>
        <div id="tema3" class="panel-collapse collapse in">
          <div class="list-group">
          <ul>
          <li>Monitoring Network Optimization</li>
          <li>Stochastic Modeling of Porous Media</li>
          <li>Stochastic Fracture Modeling</li>
          <li>Joint Stochastic Modeling Using Copulas</li>
          <li>Geostatistical Estimation of Mining Reserves</li>
          <li>Continuous Percolation Models for Permeability Estimation in Fracture Networks</li>
          <li>Population Balance Modeling</li>
          <li>Lattice Boltzmann Methods</li>
          <li>Kalman Filtering</li>
          </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#tema4"><span class="glyphicon glyphicon-pushpin">
        </span> Stochastic-Deterministic Methods</a>
        </h4>
        </div>
        <div id="tema4" class="panel-collapse collapse in">
        <div class="list-group">
          <ul>
          <li>Porosity-Permeability Modification Due to Clay Swelling by Type</li>
          <li>Multiscale Problems (Pore to Continuum Scale)</li>
          </ul>
        </div>
      </div>
      </div>
      <div class="panel panel-default">
      <div class="panel-heading">
      <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#tema5"><span class="glyphicon glyphicon-pushpin">
      </span> Computing</a>
      </h4>
      </div>
      <div id="tema5" class="panel-collapse collapse in">
      <div class="list-group">             
      <ul>
      <li>Cross-Platform Graphical User Interfaces (GUI) (Linux and Windows) in Python using GTK+, Qt, or Wx for programs developed in C/C++, Fortran, or R.</li>            
      <li>Scientific Visualization Software (2D and 3D graphics) for HDF5 and/or VTK data formats.</li>
      <li>Python or C++ Programming of Finite Element problems using FEniCS</li>
      <li>RGEOESTAD</li>
      <li>3D Stochastic Modeling using Copulas</li>
      <li>Development of an Exploratory Data Analysis Plug-in for SGeMS</li>
      <li>Scientific Visualization Software Development</li>
      <li>Graphical Interfaces using GTK or Qt</li>
      <li>Graphics Libraries using OpenGL</li>
      <li>Programming in R, Python, C/C++</li>
      <li>C/C++ Programming of Flow and Transport Problems in Porous Media using DUNE, DuMuX, OPM, MTRS</li>
      <li>Flow and Transport Problems in Porous Media using the Lattice Boltzmann Method with open-source software (Palabos, OpenLB)</li>
      <li>Development of a Seismic Attributes Plug-in for OpendTect using Python or C++</li>
      </ul>
      </div>
      </div>
      </div>     
      <div class="panel panel-default">
      <div class="panel-heading">
      <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#tema6"><span class="glyphicon glyphicon-pushpin">
      </span> Application Areas</a>
      </h4>
      </div>
      <div id="tema6" class="panel-collapse collapse in">
      <div class="list-group">
      <ul>
      <li>Petroleum Reservoirs</li>
      <li>Precipitation</li>
      <li>Aquifers</li>
      <li>Porous Media</li>
      <li>Mining</li>
      <li>Environmental Science</li>
      <li>CO2 Sequestration</li>
      </ul>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>