---
layout: default
---
<div id="openingsid">
	{{ content }}
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#tema1"><span class="glyphicon glyphicon-pushpin">
          </span> Métodos Numéricos</a>
          </h4>
        </div>
        <div id="tema1" class="panel-collapse collapse in">
          <div class="list-group">
	        <ul>                  
			    <li>Diferencias Finitas</li>
 			    <li>Elemento Finito</li>
  		    <li>Volumen Finito</li>
			    <li>Descomposición de Dominio</li>
			    </ul>
			    </div>
			  </div>
      </div>  
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#tema2"><span class="glyphicon glyphicon-pushpin">
        </span> Métodos Determinísticos</a>
        </h4>
        </div>
        <div id="tema2" class="panel-collapse collapse in">
          <div class="list-group">
          <ul>
			    <li>Seguimiento de un frente de combustión</li>
			    <li>Modelo de transporte de microbios en un medio poroso</li>
			    <li>Métodos numéricos de escalas múltiples</li>
			    <li>Modelo de percolación para la estimación de la permeabilidad</li>
			    <li>Diseño de atributos sísmicos basados en morfología matemática</li>
			    <li>Pore Network Models</li>
			    </ul>
			    </div>
			  </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#tema3"><span class="glyphicon glyphicon-pushpin">
        </span> Métodos Estadístico-Estocásticos</a>
        </h4>
        </div>
        <div id="tema3" class="panel-collapse collapse in">
          <div class="list-group">
          <ul>
			    <li>Optimización de redes de monitoreo</li>
			    <li>Modelos estocásticos de medios porosos</li>
			    <li>Modelos estocásticos de fracturas</li>
			    <li>Modelación estocástica conjunta usando cúpulas</li>
			    <li>Estimación geoestadística de reservas mineras</li>
			    <li>Modelos de percolación continua para la estimación de la permeabilidad en redes de fracturas</li>
			    <li>Modelos de Balance de Población</li>
			    <li>Lattice Boltzmann methods</li>
			    <li>Kalman Filtering</li>
			    </ul>
			    </div>
			  </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#tema4"><span class="glyphicon glyphicon-pushpin">
        </span> Métodos Estocásticos-Determinísticos</a>
        </h4>
        </div>
        <div id="tema4" class="panel-collapse collapse in">
        <div class="list-group">
			    <ul>
			    <li>Problema de modificación porosidad permeabilidad debido al hinchamiento de arcillas según su tipo</li>
			    <li>Problemas multiescalas (poro-medio continuo)</li>
			    </ul>
			  </div>
			</div>
      </div>
      <div class="panel panel-default">
      <div class="panel-heading">
      <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#tema5"><span class="glyphicon glyphicon-pushpin">
      </span> Computación</a>
      </h4>
      </div>
      <div id="tema5" class="panel-collapse collapse in">
      <div class="list-group">						 
			<ul>
			<li>Interfaz Gráfica para Usuarios (GUI) multiplataforma (Linux y Windows) en Python usando Gtk+, Qt o WX  para programas desarrollados en C/C++, Fortran o R.</li>						 
			<li>Software para Visualización Científica (gráficas en 2D y 3D) de datos en formato HDF5 y/o VTK.</li>
			<li>HProgramación en Python o C++ de problemas de Elementos Finitos sobre FEnics</li>
			<li>RGEOESTAD </li>
			<li>Modelos estocásticos con cópulas en 3D</li>
			<li>Hacer un plug-in de Análisis Exploratorio de Datos para SGEMS</li>
			<li>Desarrollo de Software para Visualización Científica</li>
			<li>Interfaces gráficas con GTK o QT </li>
			<li>Bibliotecas Gráficas con OpenGL</li>
			<li>Programación en R, Python, C/C++</li>
			<li>Programación en C/C++ de problemas de fulo y transporte en medios porosos en DUNE, DUMUX, OPM, MTRS</li>
			<li>Problemas de flujo y transporte en medios pososos usando el método de Lattice Boltzmann con software libre (PALABOS, OpenLB)</li>
			<li>Hacer plug-in para atributos sísmicos en OpendTect usando Python o C++ </li>
			</ul>
			</div>
			</div>
      </div>     
      <div class="panel panel-default">
      <div class="panel-heading">
      <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#tema6"><span class="glyphicon glyphicon-pushpin">
      </span> Áreas de Aplicación</a>
      </h4>
      </div>
      <div id="tema6" class="panel-collapse collapse in">
      <div class="list-group">
	    <ul>
	    <li>Yacimientos petroleros</li>
	    <li>Precipitación</li>
	    <li>Acuíferos</li>
	    <li>Medios porosos</li>
	    <li>Minería</li>
	    <li>Medio ambiente</li>
	    <li>Secuestro de CO2</li>
	    </ul>
			</div>
			</div>
      </div>
      </div>
      </div>
      </div>
      </div>
