---
layout: default
---
<div class="row">
	<div class="col-md-3">
		<div class="media">
			{% if page.image %}
			<img class="pull-left pad-right media-object paper-image" width="100%" src="{{ page.image }}">
			{% endif %}
		</div>
	</div>

	<div class="col-md-9">
		<div class="media-body titlebox">
			<div class="title media-heading">
				{{ page.title }}
			</div>
			<p>
			<div class="smallhead">
				{{ page.info }}
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="bigspacer"></div>
		<div class="glyphbox note"> <!-- DAD: what is this class? -->
			{% if page.pdf or page.pdflink or page.fulltext %}
			<div class="smallhead subtle">
				Full text
			</div>	
			<div class="pad-left note">
				<div class="smallspacer"></div>
				{% if page.pdflink %}
					<i class="fa fa-file-pdf-o fa-fw"></i>
					<a class="off" href="{{ page.pdflink }}">Journal PDF</a>
					<br/>
				{% endif %}
				{% if page.pdf %}
					<i class="fa fa-file-pdf-o fa-fw"></i>
					<a class="off" href="{{ page.pdf }}">PDF</a>
					<br/>
				{% endif %}
				{% if page.fulltext %}
				<i class="fa fa-external-link fa-fw"></i>
				<a class="off" href="{{ page.fulltext }}">Journal HTML</a>
				{% endif %}
			</div>
			<div class="bigspacer"></div>			
			{% endif %}

			{% if page.phone %}
			<div class="smallhead subtle">
				Phone
			</div>	
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-paperclip fa-fw"></i>
				<a class="off" href="{{ page.supplement }}">{{ page.phone | split: '/' | last }}</a>
			</div>
			<div class="bigspacer"></div>			
			{% endif %}

			{% if page.fax %}
			<div class="smallhead subtle">
				Fax
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-external-link fa-fw"></i>
				<a class="off" href="{{ page.fax }}">{{ page.fax }}</a>
			</div>
			<div class="bigspacer"></div>			
			{% endif %}
						
			
			{% if page.github %}
			<div class="smallhead subtle">
				Github
			</div>	
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-cog fa-fw"></i>
				<a class="off" href="{{ page.github }}">{{ page.github | remove: 'http://' | remove: 'https://' }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
	
			<div class="smallhead subtle">
				Share
			</div>
		</div>
	</div>
	{% if page.embargo %}
	<div class="col-md-8">
		<div class="post">
		In press...watch this space!
		</div>
	</div>
	{% else %}
	<div class="col-md-8">	
		<div class="post">
			{{ content }}
		</div>	
	</div>
	{% endif %}

	<div class="col-md-1"></div>
</div>

<div class="bigspacer"></div>
