---
layout: default
---
<div id="publications" class="col-sm-12">
  {{ content }}
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="panel-group" id="accordion">
        
        
        
      </div>  
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#tema2"><span class="glyphicon glyphicon-pushpin">
        </span> Publications </a>
        </h4>
        </div>
        <div id="tema2" class="panel-collapse collapse in">
          <div class="list-group">
          <ul>
			    <li> </li>
			    <li> </li>
			    <li> </li>
			    <li> </li>
			    <li> </li>
			    <li> </li>
			    </ul>
			    </div>
			  </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#tema3"><span class="glyphicon glyphicon-pushpin">
        </span> Thesis</a>
        </h4>
        </div>
        <div id="tema3" class="panel-collapse collapse in">
          <div class="list-group">
          <ul>
			    <li> 2018 </li>
		            <p><a href="{{ site.url }}{{ site.baseurl }}/media/tesis/Tesis_Vazquez_Daniel.pdf"> SIMULACIÓN ESTOCÁSTICA CONJUNTA DE PROPIEDADES PETROFÍSICAS CON CÓPULAS DE BERNSTEIN USANDO ATRIBUTOS SÍSMICOS COMO VARIABLES SECUNDARIAS A ESCALA DE REGISTROS DE POZO.</a> </p>
			    <li> </li>
			    <li> </li>
			    <li> </li>
			    <li> </li>
			    <li> </li>
			    <li> </li>
			    <li> </li>
			    </ul>
			    </div>
			  </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#tema4"><span class="glyphicon glyphicon-pushpin">
        </span> Papers </a>
        </h4>
        </div>
        <div id="tema4" class="panel-collapse collapse in">
        <div class="list-group">
			    <ul>
			    <li> </li>
			    <li> </li>
			    </ul>
			  </div>
			</div>
      </div>
      
      <div class="panel panel-default">
      <div class="panel-heading">
      <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#tema5"><span class="glyphicon glyphicon-pushpin">
      </span> Presentations </a>
      </h4>
      </div>
      <div id="tema5" class="panel-collapse collapse in">
      <div class="list-group">						 
			<ul>
			<li> </li>						 
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			</ul>
			</div>
			</div>
      </div>     
      
			</div>
			</div>
      </div>
      </div>
      </div>
      </div>
      </div>
