---
layout: default
---
<div id="publications" class="col-sm-12">
  {{ content }}
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="panel-group" id="accordion">
        
        
        
      </div>  
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#tema2"><span class="glyphicon glyphicon-pushpin">
        </span> Books </a>
        </h4>
        </div>
        <div id="tema2" class="panel-collapse collapse in">
          <div class="list-group">
          <ul>
			    <li> 2014 </li>
		            <p><a href="{{ site.url }}{{ site.baseurl }}/media/publications/Editorial Board - Numerical Methods for Partial Differential Equations.pdf"> Numerical Methods for Partial Differential Equations.</a> </p>
			    <p>Author(s):<a href='https://www.researchgate.net/profile/Martin-Diaz-Viera'> Martín A. Díaz-Viera</a> </p>
		  
		            <li> 2012 </li>
		            <p><a href="{{ site.url }}{{ site.baseurl }}/media/publications/Editorial Board - Multiphysics Modeling Series.pdf"> Multiphysics Modeling Series.</a></p>
			    <p>Author(s):<a href='https://www.researchgate.net/profile/Martin-Diaz-Viera'> Martín A. Díaz-Viera</a> </p>
		  </ul>
			    </div>
			  </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#tema3"><span class="glyphicon glyphicon-pushpin">
        </span> Thesis</a>
        </h4>
        </div>
        <div id="tema3" class="panel-collapse collapse in">
          <div class="list-group">
          <ul>
			    <li> 2021 </li>
		            <p><a href="{{ site.url }}{{ site.baseurl }}/media/tesis/tesis_Le2021.pdf"> COPULA-BASED MODELING FOR PETROPHYSICAL PROPERTY PREDICTION USING SEISMIC ATTRIBUTES AS SECONDARY VARIABLES.</a></p>
		            <p>Author:<a href='https://www.researchgate.net/profile/Van-Huong-Le'> Van Huong LE</a> </p>
		            <p><a href="{{ site.url }}{{ site.baseurl }}/media/tesis/tesis_Gomez2021.pdf"> MÉTODOS METAHEURÍSTICOS DE OPTIMIZACIÓN GLOBAL PARA LA SIMULACIÓN ESTOCÁSTICA BASADA EN CÓPULAS DE PROPIEDADES PETROFÍSICAS A PARTIR DE ATRIBUTOS SÍSMICOS ELÁSTICOS.</a> </p>
		            <p><a href="{{ site.url }}{{ site.baseurl }}/media/tesis/tesis_Pacheco2021.pdf"> MODELOS DIGITALES DE ROCA A PARTIR DE IMÁGENES DE MUESTRAS DE YACIMIENTOS CARBONATADOS NATURALMENTE FRACTURADOS.</a> </p>
			    
		            <li> 2018 </li>
		            <p><a href="{{ site.url }}{{ site.baseurl }}/media/tesis/tesis_Martinez2018.pdf"> ESTIMACIÓN DE PROPIEDADES ROCA-FLUIDOS MEDIANTE MODELOS DE RED DE POROS PARA LA SIMULACIÓN DE PROCESOS DE INYECCIÓN DE AGUA DE BAJA SALINIDAD.</a> </p>
		            <p><a href="{{ site.url }}{{ site.baseurl }}/media/tesis/Tesis_Vazquez_Daniel.pdf"> SIMULACIÓN ESTOCÁSTICA CONJUNTA DE PROPIEDADES PETROFÍSICAS CON CÓPULAS DE BERNSTEIN USANDO ATRIBUTOS SÍSMICOS COMO VARIABLES SECUNDARIAS A ESCALA DE REGISTROS DE POZO.</a> </p>
		            <p><a href="{{ site.url }}{{ site.baseurl }}/media/tesis/tesis_Linares2018.pdf"> MODELO DE FLUJO Y TRANSPORTE EN MEDIOS POROSOS EN FENICS USANDO EL MÉTODO DE ELEMENTOS FINITOS MIXTOS. APLICACIÓN A UN CASO DE ESTUDIO PARA LA SIMULACIÓN DE UN PROCESO DE  INYECCIÓN DE AGUA DE BAJA SALINIDAD A ESCALA DE LABORATORIO.</a> </p>
			    
		            <li> 2017 </li>
		            <p><a href="{{ site.url }}{{ site.baseurl }}/media/tesis/TESIS_Mendoza2017.pdf"> MODELOS BASADOS EN CÓPULAS PARA LA SIMULACIÓN ESTOCÁSTICA CONJUNTA DE PROPIEDADES DE REDES DE FRACTURAS DISCRETAS EN MEDIOS POROSOS FRACTURADOS.</a> </p>
		            <p><a href="{{ site.url }}{{ site.baseurl }}/media/tesis/tesis_Noyola2017"> MODELO DE TRANSPORTE EN MEDIOS POROSOS A ESCALA DE LABORATORIO PARA LA SIMULACIÓN DEL PROCESO DE TAPONAMIENTO-DESTAPONAMIENTO POR MICROORGANISMOS.</a> </p>
		            
		            <li> 2016 </li>
		            <p><a href="{{ site.url }}{{ site.baseurl }}/media/tesis/tesis_Romano2016.pdf"> MODELOS DE FRACTURAS DISCRETAS PARA LA SIMULACIÓN DE FLUJO MONOFÁSICO EN MEDIOS POROSOS FRACTURADOS.</a> </p>
		            <p><a href="{{ site.url }}{{ site.baseurl }}/media/tesis/tesis_Martinez2016"> MODELOS DE RED DE POROS PARA LA OBTENCIÓN DE PROPIEDADES EFECTIVAS DE FLUJO Y TRANSPORTE EN YACIMIENTOS PETROLEROS.</a> </p>
		            <p><a href="{{ site.url }}{{ site.baseurl }}/media/tesis/tesis_Estrada2016"> MODELACIÓN DE FENÓMENOS DE ADSORCIÓN EN PROBLEMAS DE FLUJO Y TRANSPORTE EN MEDIOS POROSOS A CONDICIONES CONTROLADAS DE LABORATORIO.</a> </p>
		  
			    </ul>
			    </div>
			  </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#tema4"><span class="glyphicon glyphicon-pushpin">
        </span> Papers </a>
        </h4>
        </div>
        <div id="tema4" class="panel-collapse collapse in">
        <div class="list-group">
			    <ul>
			    <li> </li>
			    <li> </li>
			    </ul>
			  </div>
			</div>
      </div>
      
      <div class="panel panel-default">
      <div class="panel-heading">
      <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#tema5"><span class="glyphicon glyphicon-pushpin">
      </span> Presentations </a>
      </h4>
      </div>
      <div id="tema5" class="panel-collapse collapse in">
      <div class="list-group">						 
			<ul>
			<li> </li>						 
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			<li> </li>
			</ul>
			</div>
			</div>
      </div>     
      
			</div>
			</div>
      </div>
      </div>
      </div>
      </div>
      </div>
